---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Maximiliano Hitter's Portfolio - About Me">
  <main>
    <section class="w-full mx-auto mt-4">
      <h1
        class="text-white flex-wrap text-4xl font-bold flex justify-center gap-2"
      >
        About Me
      </h1>
      <h2 class="mt-8 text-wrap">
        I'm a Web Developer with 2 years of experience. Currently based in
        Neuquén, Argentina. I specialize into back-end. Also work with front-end
        and a little with devops things. Currently studying Bachelor's Degree in
        Computer Security at Siglo21 University.
      </h2>
    </section>
  </main></Layout
>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    /* color: white; */
    font-size: 20px;
    line-height: 1.6;
  }
</style>
