---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Maximiliano Hitter's Portfolio - Github">
  <main>
    <section
      class="w-full flex md:flex-row flex-col justify-center mx-auto mt-4 gap-3"
    >
      <div class="flex flex-col gap-3 items-center">
        <img
          class="w-[450px]"
          src="https://github-readme-stats.vercel.app/api?username=MaximilianoHitter&show_icons=true&hide=&count_private=true&title_color=0891b2&text_color=ffffff&icon_color=0891b2&bg_color=1c1917&hide_border=true&show_icons=true"
        />
        <img
          class="w-[450px]"
          src="https://github-readme-streak-stats.herokuapp.com/?user=MaximilianoHitter&stroke=ffffff&background=1c1917&ring=0891b2&fire=0891b2&currStreakNum=ffffff&currStreakLabel=0891b2&sideNums=ffffff&sideLabels=ffffff&dates=ffffff&hide_border=true"
        />
      </div>
      <div class="flex justify-center">
        <img
          class=""
          src="https://github-readme-stats.vercel.app/api/top-langs/?username=MaximilianoHitter&langs_count=10&title_color=0891b2&text_color=ffffff&icon_color=0891b2&bg_color=1c1917&hide_border=true&locale=en&custom_title=Top%20%Languages"
          alt="Top Languages"
        />
      </div>
    </section>
  </main>
</Layout>
