---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const req = await fetch("https://api.github.com/users/maximilianohitter/repos");
const repos = await req.json();

//console.log(repos);
---

<Layout title="Welcome to my Portfolio">
  <main>
    <section
      class="border-opacity-55 rounded-full mt-5 border-slate-500 border-2"
      aria-label="general information about me"
    >
      <!-- <div class="flex">
        <div class="flex justify-start">
          <img
            src="https://avatars.githubusercontent.com/u/89142014?v=4"
            alt=""
            class="w-20 object-cover rounded-full"
            loading="lazy"
          />
        </div>
        <h4
          class="flex justify-end ml-7 font-semibold text-xl bg-red-500"
        >
          <span class="mt-0">Hi! Im Maximiliano</span>
          <span class="mt-0">I'm Electronic Technician and Web Developer</span>
        </h4>
      </div> -->
    </section>

    <section>
      {
        repos.map((rp: any) => [
          <Card
            title={rp.name}
            body=""
            href={"https://github.com/" + rp.full_name}
          />,
        ])
      }
    </section>
  </main>

  <script></script>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
