---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Redes from "../components/Redes.astro";
import Tabs from "../components/Tabs.astro";
---

<Layout title="Maximiliano Hitter's Portfolio - Web Developer">
  <main>
    <section class="w-full mx-auto mt-4">
      <h1
        class="text-white flex-wrap text-4xl font-bold flex justify-center gap-2"
      >
        Hey, I'm Maximiliano Ariel Hitter
        <Badge>Currently working!</Badge>
      </h1>
      <h2 class="mt-8 text-wrap">
        Web Developer with 2 years expertise. Currently based in Neuquén,
        Argentina <img
          class="inline rounded-sm"
          src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg"
          alt="Argentine Flag"
          width="20"
          height="13"
        /> . I specialize into back-end. Also work with front-end and a little with
        devops things. Currently studying Bachelor's Degree in Computer Security
        at Siglo21 University.
      </h2>

      <div class="flex justify-center">
        <Redes />
      </div>

      <!-- <Experiencia /> -->

      <Tabs />
    </section>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      /* color: white; */
      font-size: 20px;
      line-height: 1.6;
    }

    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
  </style>
</Layout>
