---
import Siglo21 from "./estudios/Siglo21.astro";
import Uncoma from "./estudios/Uncoma.astro";
import Utn from "./estudios/Utn.astro";
import Ifes from "./estudios/Ifes.astro";
---

<ol
  class="relative border-s border-gray-200 dark:border-gray-700 mt-3 mx-auto w-fit"
>
  <li class="mb-5 ms-4">
    <Siglo21 />
  </li>
  <li class="mb-5 ms-4">
    <Uncoma />
  </li>
  <li class="mb-5 ms-4">
    <Ifes />
  </li>
  <li class="mb-5 ms-4">
    <Utn />
  </li>
</ol>
