<header
  class="flex justify-center items-center gap-10 py-3 w-[900px] mt-5 border-slate-500 border-2 rounded-full"
>
  <img
    class="rounded-full w-12 h-12"
    src="https://avatars.githubusercontent.com/u/89142014?v=4"
    alt="Photo from Github"
  />

  <nav class="flex flex-row gap-x-10 opacity-90 justify-center">
    <a class="hover:underline hover:opacity-100 opacity-60" href="/">Home</a>
    <a class="hover:underline hover:opacity-100 opacity-60" href="/about"
      >About</a
    >
    <a class="hover:underline hover:opacity-100 opacity-60" href="/proyects"
      >Proyects</a
    >
    <a class="hover:underline hover:opacity-100 opacity-60" href="/contact"
      >Contact</a
    >
  </nav>
</header>
