---
import Back from "./Back.astro";
import Front from "./Front.astro";
import Otros from "./Otros.astro";
---

<ol
  class="relative border-s border-gray-200 dark:border-gray-700 mt-3 mx-auto w-fit"
>
  <li class="mb-5 ms-4">
    <Front />
  </li>
  <li class="mb-5 ms-4">
    <Back />
  </li>
  <li class="mb-5 ms-4">
    <Otros />
  </li>
</ol>
