---
import Header from "../components/Header.astro";
import "@fontsource/poppins";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Maximiliano Ariel Hitter's Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Maximiliano Ariel Hitter's Portfolio</title>
  </head>
  <body class="">
    <div class="flex justify-center">
      <Header />
    </div>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: ligth dark;
  }
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
  body {
    background: #13151a;
    min-height: 100vh;
  }
</style>
